<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Map Generator</title>
</head>
<body>
    <textarea cols="90" rows="10" placeholder="Log u otra información..."></textarea>
    <br>
        <img src="/images/placeholder.jpg" height="200dp">
    <br>
    <label for="seedInput">Semilla:</label>
    <input type="text" id="seedInput" placeholder="Ej: 123456" />

    <button onclick="generarMapa()">Generar</button>
    

    <script>
        function generarMapa() {
            const seed = document.getElementById("seedInput").value || 0;
            window.location.href = `map.html?seed=${encodeURIComponent(seed)}`;
        }
    </script>
</body>
</html>